@model IEnumerable<PetPass.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Usuário</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn">Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
