@model PetPass.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h2>Perfil do Pet</h2>
<hr />
<div class="centralizar">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RacaPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RacaPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SexoPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SexoPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdadePet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdadePet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdadePet2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdadePet2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PesoPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PesoPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascPet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataRegPet)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPet" class="btn">Editar</a> |
    <a asp-action="Index" class="btn">Voltar</a>
</div>
