@model IEnumerable<PetPass.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Pets</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Adicionar Pet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacaPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexoPet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadePet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdadePet2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RacaPet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexoPet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadePet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdadePet2)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPet" class="btn btn-outline-dark"> <i class="far fa-eye" title="Visualizar"></i> Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.IdPet" class="btn btn-outline-dark">Editar</a> |
                <a asp-action="Relatorio" asp-route-id="@item.IdPet" class="btn btn-outline-dark">Relatório</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPet" class="btn btn-outline-dark">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
