@model PetPass.Models.Vacina

@{
    ViewData["Title"] = "Details";
}

<h2>Lista de Vacinas</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade_Aplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade_Aplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Aplicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Aplicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose_Aplicada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose_Aplicada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.NomePet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVac" class="btn">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-info">Voltar</a>
</div>
