@model IEnumerable<PetPass.Models.Vacina>

@{
    ViewData["Title"] = "Index";
}

<h1>Minhas Vacinas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Adicionar Vacina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Aplicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dose_Aplicada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.NomePet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Aplicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dose_Aplicada)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdVac" class="btn"> <i class="far fa-eye" title="Visualizar"></i>Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.IdVac" class="btn"> <i class="fas fa-edit"></i>Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVac" class="btn"><i class="fas fa-trash-alt"></i>Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
